.g {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 15px;
}

.fondoG {
  background-color: aqua;
}

.fotito {
  display: flex;
  flex-direction: column;
  align-items: center;
}
