body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 1rem;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 2rem;
}

.projects-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  width: 300px;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 1rem;
}

.color-button {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.5rem 1rem;
  margin: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.color-button:hover {
  background-color: #21a1f1;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 1rem;
}

.animated-button {
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.animated-button:hover {
  transform: scale(1.1);
  background-color: grey;
  color: black;
}
